section{
  background-color: red;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(5,1fr);

.heading{
  grid-column-start:1;
  grid-column-end:5;
  grid-row-start:1;
  grid-row-end:1;

}
  .Camping1{

    grid-column-start:1;
    grid-column-end:1;
    grid-row-start:2;
    grid-row-end:2;
    // max-width:150px;
    // max-height: 300px;
}
  .Camping2{

    grid-column-start:2;
    grid-column-end:2;
    grid-row-start:2;
    grid-row-end:2;

}
.Camping3{

  grid-column-start:3;
  grid-column-end:3;
  grid-row-start:2;
  grid-row-end:2;
  // max-width:150px;
  // max-height: 300px;
}
.Camping4{
   display: grid;
  grid-column-start:4;
  grid-column-end:4;
  grid-row-start:2;
  grid-row-end:2;
  // max-width:150px;
  // max-height: 300px;
}

// .heading2{
//   grid-column-start:2;
//   grid-column-end:3;
//   grid-row-start:3;
//   grid-row-end:3;
//   height: 50vh;
//
// }
  .fishing1{
    // display: grid;
    grid-column-start:1;
    grid-column-end:1;
    grid-row-start:3;
    grid-row-end:3;
    // max-height: 300px;
}
  .fishing2{
    display: grid;
    grid-column-start:2;
    grid-column-end:2;
    grid-row-start:3;
    grid-row-end:3;

}
.fishing3{
  display: grid;
  grid-column-start:3;
  grid-column-end:3;
  grid-row-start:3;
  grid-row-end:3;
  // max-width:150px;
  // max-height: 300px;
}
.fishing4{
  display: grid;
  grid-column-start:4;
  grid-column-end:4;
  grid-row-start:3;
  grid-row-end:3;
  // max-width:150px;
  // max-height: 300px;
}
}
